$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', 'sans-serif';
$color-primario: #333333;
$color-claro:white;
$color-secundario:#8841DA;
$color-variacion:#3f579a;
@mixin caja{
	color:$color-primario;
	border-radius:20px;
	background-color: $color-claro;
	box-shadow:  0px 20px 33px 0px rgba(0,0,0,0.5);
}
@each $header,$size in (h1:30px, h2:25px,h3:20px){
	#{$header}{
		font-size: $size;
		margin:0;
	}
}

@mixin titulos($fuente){
	@if $fuente ==$Fuente1{
		font-family: 'Lato';
	}@else{
		font-family: $Fuente2;
	}
}

* {
	box-sizing: border-box;
}

body {
	@include titulos;
	margin: 0;
	font-family: $Fuente1;
}

main {
	display: flex;
	width: 100%;
	height: 100vh;
}

.perfil {
	background-color: $color-secundario;
	color: $color-claro;
	width: 50%;
	padding-top: 50px;
	&__avatar {
		display: block;
		margin: 0 auto;
		border-radius: 50em;
	}
	&__nombre{
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		font-family: $Fuente2;
	}
	&__titulo{
		display: block;
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		font-size: 12px;
	}
	&__boton{
		display: block;
		width: 100px;
		height: 40px;
		margin: 15px auto;
		padding-top: 15px;
		border-radius: 20px;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		font-family: $Fuente2;
		color: $color-claro;
	}
}

.estadistica--perfil{
	display: flex;
	width: 50%;
	height: 90px;
	padding-top: 15px;
	margin: 0 auto;
	justify-content: space-around;
	text-align: center;
	@include caja;
	@include titulos;
	h3{
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
		margin:0;
		font-family: $Fuente2;
		color: $color-primario;
	}
	span{
		font-size:12px;
		color: gray;
		font-family: $Fuente2;
	}

}
.perfil__minibio{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding:30px;
	font-family: $Fuente2;
	text-transform: uppercase;
	letter-spacing: 1px;
	h2,h3{
		margin:0;
	} 
	h3{
		font-weight: lighter;
		font-size: 14px;
	}

}
.ubicacion--perfil{
	@include caja;
	width: 50%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 1;
	i{
		font-size: 50px;
		margin: 15px;
		grid-column-start: 0;
		grid-row-start: 1;
		align-self: center;
		justify-self: center;

	}
	h2, h3{
		margin:0;
		font-family: $Fuente2;
	} 
	h2{
		font-weight: bolder;
		font-size: 16px;
		text-transform: uppercase;
	}
	h3{
		font-weight: lighter;
		font-size: 14px;
	}
	.ubicacion--perfil_info{
		grid-column-start: 2;
		grid-row-start: 1;
		margin:0;
		align-self: center;
	}


}

.galeria{
	width: 50%;
	height: 250px;
	margin: 0 auto;
	padding: 20px 0 0 30px;
	justify-content: space-evenly;
	@include caja;
	display: grid;
	grid-template-columns: 2;

	&__foto-principal{
		margin-right: 10px;
		grid-column-start: 1;

	}
	&__foto-principal img{
		max-width: 140px;
		height: 150px;
	}
	&__fotos-adicionales{
		grid-column-start: 2;
		float: right;

	}
	&__fotos-adicionales img{
		max-width: 150px;
		height: 70px;
		margin-right: 5px;
		margin-bottom: 5px;
	}
	h2{
		grid-column-start: 1;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-weight: 600;
		font-family: $Fuente2;
		margin: 0;
	}
}