extend plantilla.pug
block contenidos
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2= titulo
				p
					|	Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					|	Illum ullam consequuntur aliquam non placeat! Aliquid enim iusto consequuntur. 
					|	Nemo quae nisi placeat tempore saepe architecto temporibus officia. 
					|	Nulla, quia sunt?
				a.boton leer mas
		main.contenido
			+caja('imagen.png','Titulo Caja 1', 'Informacion 1')
			+caja('imagen.png','Titulo Caja 1', 'Informacion 1')
			+caja('imagen.png','Titulo Caja 1', 'Informacion 1')
	