doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet",href='css/ejercicio-pug.css')
	body
		header
			h1 PlatziGames CHANGE
			a.boton Registro
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 Titulo Principal
				p
					|	Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					|	Illum ullam consequuntur aliquam non placeat! Aliquid enim iusto consequuntur. 
					|	Nemo quae nisi placeat tempore saepe architecto temporibus officia. 
					|	Nulla, quia sunt?
				a.boton leer mas